@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
    
    
}
h2{
    color: #F9690E;
}
p{
    color: #6C7A89;
}
h5{
color: #A17917;
}
.icon-bar{
    margin-left: 12px;
    
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px;
    margin: 12px;
    margin-left: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
        font-family: 'Lora', serif;
}


/* Main column */
.main {
  flex: 69%;
  background-color: white;
  padding: 20px;
     margin: 12px;
    font-family: 'Lora', serif;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}


img {
  width: 200px;
    height: 250px;
 position: relative;
    left: 50px;
   box-shadow: 0 4px 28px 0 rgba(118,53,104,0.7), 0 6px 20px 0 rgba(118,53,104,0.7);
    border-radius: 2%;
}
.fa, .fas{
    padding-top: 12px;
    padding-left: 18px;
}
.mail{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.mail:hover{
    color: red;
}
.skills{
    padding-left: 12px;
}
.fa-calendar{
    padding: 0;
    padding-bottom: 12px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card-grid {
  width:100%;
}
.card-grid:after {
  content: "";
  display: table;
  clear: both;
}



.card-wrap {
  float:left;
  width:100%;
  padding: 15px;
}
@media (min-width: 500px) {
  .card-wrap {
    width:50%;
  }
}
@media (min-width: 720px) {
  .card-wrap {
    width:25%;
  }
}

hr{
    background-color: red;
}
.card {
  background-color: white;
 border: 0px;
 box-shadow: 0px 2px blue;
  border-bottom: 12px solid blue;
}

.card > div {
  padding:0 1em;
}

i{
    color: teal;
    margin-right: 12px;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, {   
    flex-direction: column;
      
  }
    img{
        left: 0;
        padding: 0;
    }
    .fa, .fas{
        padding-left: 1px;
    }
    .mail{
        font-size: 12px;
    }
}




